<div *ngIf="!isPageLoading" class="container">
  <div class="row">
    <div class="col-lg-6 gridContainer">
      <div class="game">
        <div class="game-inner">
          <h1>WYRDLE #{{correctLetterWords.indexOf(testWord)}}({{lettersInWord}} ltr)</h1>
          <!-- last turns -->
          <div *ngFor="let row of lastTurns" class="wyrdle-row">
            <input *ngFor="let cell of row" disabled class="wyrdle-cell" value={{cell.letter}} class="wyrdle-cell {{cell.color}}">
          </div>
          <!-- current turn -->
          <form [formGroup]="wyrdleForm">
            <div class="wyrdle-row">
              <input *ngFor="let cellIndex of letterIndexes" (keyup)="nextCell(cellIndex)" (click)="cellClicked(1)" id={{controls[cellIndex-1]}} maxlength="1" class="wyrdle-cell" [class.spin]="isSpinning(controls[cellIndex-1])" formControlName={{controls[cellIndex-1]}} >
            </div>
          </form>
          <!-- next turns -->
          <div *ngFor="let row of nextTurns" class="wyrdle-row">
            <input disabled *ngFor="let cell of row" class="wyrdle-cell" value="">
          </div>
          <button (click)="startOver()" mat-stroked-button>New Game</button>      
          </div>
      </div>

    </div>
    <div class="col-lg-6 difficulty">
      <div class="keyboard">
        <div class="keyboardRow-1">
          <ng-container *ngFor="let char of keyCommands">
            <div class="keyboardItem" id={{char}}>
              <div (click)="registerInput(char)" class="keyboardLetter">{{char}}</div>
            </div>          
          </ng-container>
        </div>
        <div class="keyboardRow-2">
          <ng-container *ngFor="let char of keyCommands2">
            <div class="keyboardItem" id={{char}}>
              <div (click)="registerInput(char)" class="keyboardLetter">{{char}}</div>
            </div>          
          </ng-container>
        </div>
        <div class="keyboardRow-3">
          <div class="keyboardItem enter" id="Enter">
            <div (click)="registerInput('Enter')" class="keyboardLetter" [class.disabledEnter]="!isValidWord()">Enter</div>
          </div>  
          <ng-container *ngFor="let char of keyCommands3">
            <div class="keyboardItem" id={{char}} [class.enter]="isEnterKey(char)">
              <div (click)="registerInput(char)" class="keyboardLetter">{{char}}</div>
            </div>          
          </ng-container>
        </div>
      </div>
      <div class="text-center">
        <div class="game">
          <h3>Difficulty</h3>
          <section>
            <mat-button-toggle-group [(ngModel)]="difficulty" aria-label="Difficulty">
              <mat-button-toggle value="hard">Hard ({{lettersInWord+1}} tries)</mat-button-toggle>
              <mat-button-toggle value="easy">Easy (unlimited)</mat-button-toggle>
            </mat-button-toggle-group>
          </section>
          <mat-form-field>
            <mat-label>Load a specific game #</mat-label>
            <input [(ngModel)]="gameNumber" matInput >
          </mat-form-field>
          <button [disabled]="!gameNumber" (click)="loadGame()" mat-stroked-button color="primary">Load</button>
        </div>
        </div>
    </div>  
  </div>

</div>
<div class="letterModal" [class.hidden]="!isPageLoading">
  <div class="modalContents">
    <h1>WYRDLE</h1>
    <mat-form-field>
      <mat-label>Choose number of letters</mat-label>
      <input type="number" [(ngModel)]="lettersInWord" matInput >
    </mat-form-field>
    <button [disabled]="!lettersInWord" (click)="setupGame()" mat-stroked-button color="primary">Load</button>
    </div>
</div>

<div class="letterModal" [class.hidden]="!isGameWon">
  <div class="modalContents">
    <h1>YOU WIN</h1>
      <button (click)="share()" mat-stroked-button class="green">{{successButtonText}}</button>    
    </div>
</div>

