<div class="container">
  <div class="row">
    <div class="col-lg-6 gridContainer">
      <div class="game">
        <h1>WYRDLE #{{fiveLetterWords.indexOf(testWord)}}</h1>
        <!-- last turns -->
        <div *ngFor="let row of lastTurns" class="wyrdle-row">
          <input *ngFor="let cell of row" class="wyrdle-cell" value={{cell.letter}} class="wyrdle-cell {{cell.color}}">
        </div>
        <!-- current turn -->
        <form [formGroup]="wyrdleForm">
          <div class="wyrdle-row">
            <input (keyup)="nextCell(1)" (click)="cellClicked(1)" id="cell1" maxlength="1" class="wyrdle-cell" [class.spin]="isSpinning('cell1')" formControlName="cell1" >
            <input (keyup)="nextCell(2)" (click)="cellClicked(2)" id="cell2" maxlength="1" class="wyrdle-cell" [class.spin]="isSpinning('cell2')" formControlName="cell2" >
            <input (keyup)="nextCell(3)" (click)="cellClicked(3)" id="cell3" maxlength="1" class="wyrdle-cell" [class.spin]="isSpinning('cell3')" formControlName="cell3" >
            <input (keyup)="nextCell(4)" (click)="cellClicked(4)" id="cell4" maxlength="1" class="wyrdle-cell" [class.spin]="isSpinning('cell4')" formControlName="cell4" >
            <input (keyup)="isValidWord()" (click)="cellClicked(5)" id="cell5" maxlength="1" class="wyrdle-cell" [class.spin]="isSpinning('cell5')" formControlName="cell5" >
          </div>
        </form>
        <!-- next turns -->
        <div *ngFor="let row of nextTurns" class="wyrdle-row">
          <input *ngFor="let cell of row" class="wyrdle-cell" value="">
        </div>
        <button (click)="startOver()" mat-stroked-button>New Game</button>      
      </div>

    </div>
    <div class="col-lg-6 difficulty">
      <div class="keyboard">
        <div class="keyboardRow-1">
          <ng-container *ngFor="let char of keyCommands">
            <div class="keyboardItem" id={{char}}>
              <div (click)="registerInput(char)" class="keyboardLetter">{{char}}</div>
            </div>          
          </ng-container>
        </div>
        <div class="keyboardRow-2">
          <ng-container *ngFor="let char of keyCommands2">
            <div class="keyboardItem" id={{char}}>
              <div (click)="registerInput(char)" class="keyboardLetter">{{char}}</div>
            </div>          
          </ng-container>
        </div>
        <div class="keyboardRow-3">
          <div class="keyboardItem enter" id="Enter">
            <div (click)="registerInput('Enter')" class="keyboardLetter">Enter</div>
          </div>  
          <ng-container *ngFor="let char of keyCommands3">
            <div class="keyboardItem" id={{char}} [class.enter]="isEnterKey(char)">
              <div (click)="registerInput(char)" class="keyboardLetter">{{char}}</div>
            </div>          
          </ng-container>
        </div>
      </div>
      <div class="text-center">
        <div class="game">
          <h3>Difficulty</h3>
          <section>
            <mat-button-toggle-group [(ngModel)]="difficulty" aria-label="Difficulty">
              <mat-button-toggle value="hard">Hard (6 tries)</mat-button-toggle>
              <mat-button-toggle value="easy">Easy (unlimited)</mat-button-toggle>
            </mat-button-toggle-group>
          </section>
          <mat-form-field>
            <mat-label>Load a specific game #</mat-label>
            <input [(ngModel)]="gameNumber" matInput >
          </mat-form-field>
          <button [disabled]="!gameNumber" (click)="loadGame()" mat-stroked-button color="primary">Load</button>
        </div>
        </div>

    </div>  
  </div>
</div>

