@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.container{
    @media(max-width: 960px){
        height:150vh;
    }
}



.keyboardItem{
    @media only screen and (max-width:500px) {
        min-width:29px;
    }
    @media(min-width: 1500px){
        min-width: 45px;
        height:55px;
    }
    display:inline-block;
    height:50px;
    min-width:35px;
    padding:5px;
    background-color: #d3d6da;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;

    cursor: pointer;
    .keyboardLetter{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 2vw;
        text-transform: uppercase;
        @media(max-width: 550px){
            font-size: 5vw;
        }
        @media(min-width: 1975px){
            font-size: 1.75vw;
        }
        @media(min-width: 3000px){
            font-size: 1vw;
        }
    }
}

.enter{
    width:auto;
}

.keyboard{
    margin-top:15px;
    text-align: center;
}

.keyboardRow {
    display: flex;
    justify-content: space-around;
}


.wyrdle-row{
    display: flex;
    margin-bottom: 10px;
}
.wyrdle-cell{
    text-transform: uppercase;
    height:50px;
    width:50px;
    font-size: 2vw;
    margin-right:10px;
    text-align: center;
    input{
        height:inherit;
        width:inherit;
    }

    .mat-form-field-outline{
        height:50px;
    }
    @media(max-width: 550px){
        font-size: 5vw;
    }
    @media(min-width: 1975px){
        font-size: 1.75vw;
    }
    @media(min-width: 3000px){
        font-size: 1vw;
    }
}

.spin{
    transform: rotateX(360deg);
    transition: all .25s ease-in;
}

.green{
    background-color: #6aaa64;
    color: white;
}
.gray{
    background-color: #787c7e;
    color: white;
}
.orange{
    background-color: #c9b458;
    color: white;
}
button{
    width:100%;
    font-size: 20px;
    height: 50px;
}
.difficulty{
    // padding-left:50px;
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    @media(max-width:960px){
        position:fixed;
        bottom:0px;
        left:0px;
    }}
.text-center{
    display: flex;
    justify-content: space-around;
}
.game{
    display: inline-block;
    .game-inner{
        display: flex;
        flex-direction: column;
        align-items: center;        }
    width:50%;
    @media(max-width:500px){
        width:100%;
    }
}
.gridContainer{
    text-align: center;
}
.disabledEnter{
    color:#9e9d9d;
}
.letterModal{
    position: fixed;
    height:100vh;
    width: 100vw;
    display: flex;
    background-color: rgba(2,2,2,.5);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    top:0px;
    .modalContents{
        padding:40px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height:35vh;
        width:45vw;
        background-color:#ffffff;
        mat-form-field{
            width: 100%;
            input{
                text-align:center;
            }
        }
        @media(max-width:500px){
            width:70vw;
        }
    }
}
.hidden{
    display:none;
}
